body {
  color: #fff;
  font-family: lato Light, Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 5px;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  grid-column: 2 / 12;
  grid-row: 2 / 2;
  z-index: 2;
}

main {
  grid-row: 1 / 7;
  grid-column: 1 / 13;
  background-image: url("img/your_verse_hero.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
}

section {
  grid-row: 7 / 11;
  grid-column: 1 / 13;
}

footer {
  grid-row: 9 / 11;
  grid-column: 3 / 11;
}

.promoBox {
  float: left;
  background-image: url("img/promo_iphone5s.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 267px 250px;
  width: 33.33%;
  padding: 50px;
}

#back1 {
  float: left;
  background-image: url(img/promo_iphone5s.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 270px 180px;
  width: 272px;
  height: 182px;
}

#back2 {
  float: left;
  background-image: url(img/promo_iphone5c.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 270px 180px;
  width: 272px;
  height: 182px;
}

#back3 {
  float: left;
  background-image: url(img/promo_30_years.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 270px 180px;
  width: 272px;
  height: 182px;
}

#back4 {
  float: left;
  background-image: url(img/promo_supplier_responsibility.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 270px 180px;
  width: 263px;
  height: 182px;
}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background: linear-gradient(rgb(131, 131, 131) 50%, rgb(112, 112, 112) 50%);
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid rgb(116, 115, 115);
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  border-right: 1px solid rgb(77, 76, 76);
  height: 1.5em;
  padding: 8px 25px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding-top: 10px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background: rgba(51, 51, 51, 0.6);
}

/* Active/current link */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the input container */
.topnav .search-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

[alt="logo"] {
  width: 1.5em;
}

form {
  display: block;
  margin-top: 0.1em;
}

form input {
  border-radius: 25%;
}

.footerContent {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  align-content: center;
  grid-column-gap: 5em;
  grid-row-gap: 1em;
  font-size: 0.49em;
  color: dimgray;
  padding-top: 1em;
}

.footerContent p a {
  text-decoration: none;
  color: rgb(0, 133, 195);
}

.footerContent p:nth-of-type(1) {
  justify-self: right;
}

[alt="flag icon"] {
  position: relative;
  left: 23.5em;
  top: -2.1em;
}

[type="search"] {
  width: 80%;
  margin-left: 1em;
  margin-top: .75em;
  border-radius: 1em;
  background: url(img/search_icon.png) 10px 50% no-repeat, linear-gradient(rgb(131, 131, 131) 70%, rgb(112, 112, 112) 50%) no-repeat;
  background-size: 12px 12px;
  border-top: 1px solid rgb(80, 80, 80);
  border-bottom: 1px solid rgb(144, 144, 144);
  border-left: none;
  border-right: none;
  padding-left: 1em;
}

h1 {
  display: block;
  font-size: 3.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  font-weight: bold;
}


h2 {
  display: block;
  font-size: 1.3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  font-weight: bold;
}

.ad-text-container {
  position: relative;
  font-weight: lighter;
  top: -30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad-text-container a {
  color: white;
  font-size: 1.3em;
  text-decoration: none;
}

.ad-text-container a:hover {
  text-decoration: underline;
  width: 1px;
}

.ad-subhead {
  width: 59%;
  padding: 25px 0;
}

.header-cta {
  height: 32px;
  overflow: hidden;
}

#head-text-1 {
  padding-top: 1%;
}

#footer-1 {
  padding-bottom: 4%;
}
